<link rel="stylesheet" href="/css/restricted.css">
<br><br><br>
<div id="container" class="text-center">
    <i class="fa-solid fa-hand text-center"></i>
    <h1 class="text-center">Unauthorized Access</h1>
    <h3 class="text-center">403</h3>
</div>