<link rel="stylesheet" href="/css/sign_up.css">

<div id="container">
    <h1 class="text-center text-white">Sign Up</h1><br>
    <form action="/users/create" method="post" class="text-center">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="text" name="empCode" placeholder="Employee Code " required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="confirm_password" placeholder="password" required>
        <input type="submit" value="Sign Up">
    </form>
</div>